* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: darkblue;
  overflow: hidden;
}
.text-container h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  line-height: 80px;
}
.text-container h1 span {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

img{
    width: 150px;
}
.text-container .animated-text {
    
  position: relative;
  /* background: yellowgreen; */
  margin: 15px auto 0;
  width: 570px;
  height: 75px;
  /* box-shadow: 0 0 10px yellowgreen, 0 0 120px yellowgreen; */
  overflow: hidden;
}

.text-container .animated-text::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 55%;
  height: 100%;
  transform: skew(25deg) translateX(-20px);
}

.text-container .animated-text h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  line-height: 75px;
}


.text-container .animated-text h2:nth-child(1) {
  animation: text-move 22s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: -75px;
  }
  20% {
    margin-top: -150px;
  }
  30% {
    margin-top: -225px;
  }
  40% {
    margin-top: -300px;
  }
  50% {
    margin-top: -375px;
  }
  60% {
    margin-top: -300px;
  }
  70% {
    margin-top: -225px;
  }
  80% {
    margin-top: -150px;
  }
  90% {
    margin-top: -75px;
  }
  100% {
    margin-top: 0px;
  }
}

.text-container {
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}


.animation-container{
z-index: 999;
position: absolute;
width: 750px;
height: 550px;
}
.burst{
    position: absolute;
}

.burst .line{
    position: absolute;
    background:#fff ;
    width: 10px;
    height: 10px;

}

.burst .line:nth-child(1){
    border-radius: 20px;
    background: #ea4335;
    border-radius: 20px;
    animation: move01 2s linear infinite;
}
@keyframes move01 {
    0%{
        transform: translate(0,0);
        opacity:0 ;
    }
    50%{
        transform: translate(0,-90px);
        opacity:1;
    }
    100%{
        transform: translate(0,-140px);
        opacity:0 ;
    }
} 

.burst .line:nth-child(2){
    border-radius: 20px;
    background: #35ea35;
    animation: move02 2s linear infinite;
}
@keyframes move02 {
    0%{
        transform: rotate(45deg) translate(0,0);
        opacity:0 ;
    }
    50%{
        transform:rotate(45deg) translate(0,-90px);
        opacity:1;
    }
    100%{
        transform:rotate(45deg) translate(0,-140px);
        opacity:0 ;
    }
} 
.burst .line:nth-child(3){
    border-radius: 20px;
    background: #d8ea35;
    animation: move03 2s linear infinite;
}
@keyframes move03 {
    0%{
        transform: rotate(90deg) translate(0,0);
        opacity:0 ;
    }
    50%{
        transform:rotate(90deg) translate(0,-90px);
        opacity:1;
    }
    100%{
        transform:rotate(90deg) translate(0,-140px);
        opacity:0 ;
    }
} 

.burst .line:nth-child(4){
    border-radius: 20px;
    background: #35e4ea;
    animation: move04 2s linear infinite;
}
@keyframes move04 {
    0%{
        transform: rotate(135deg) translate(0,0);
        opacity:0 ;
    }
    50%{
        transform:rotate(135deg) translate(0,-90px);
        opacity:1;
    }
    100%{
        transform:rotate(135deg) translate(0,-140px);
        opacity:0 ;
    }
} 

.burst .line:nth-child(5){
    border-radius: 20px;
    background: #ea35d2;
    animation: move05 2s linear infinite;
}
@keyframes move05 {
    0%{
        transform: rotate(180deg) translate(0,0);
        opacity:0 ;
    }
    50%{
        transform:rotate(180deg) translate(0,-90px);
        opacity:1;
    }
    100%{
        transform:rotate(180deg) translate(0,-140px);
        opacity:0 ;
    }
} 

.burst .line:nth-child(6){
    border-radius: 20px;
    background: #eacf35;
    animation: move06 2s linear infinite;
}
@keyframes move06 {
    0%{
        transform: rotate(225deg) translate(0,0);
        opacity:0 ;
    }
    50%{
        transform:rotate(225deg) translate(0,-90px);
        opacity:1;
    }
    100%{
        transform:rotate(225deg) translate(0,-140px);
        opacity:0 ;
    }
} 

.burst .line:nth-child(7){
    border-radius: 20px;
    background: #ea7d35;
    animation: move07 2s linear infinite;
}
@keyframes move07 {
    0%{
        transform: rotate(270deg) translate(0,0);
        opacity:0 ;
    }
    50%{
        transform:rotate(270deg) translate(0,-90px);
        opacity:1;
    }
    100%{
        transform:rotate(270deg) translate(0,-140px);
        opacity:0 ;
    }
} 

.burst .line:nth-child(8){
    border-radius: 20px;
    background: #35cfea;
    animation: move08 2s linear infinite;
}
@keyframes move08 {
    0%{
        transform: rotate(315deg) translate(0,0);
        opacity:0 ;
    }
    50%{
        transform:rotate(315deg) translate(0,-90px);
        opacity:1;
    }
    100%{
        transform:rotate(315deg) translate(0,-140px);
        opacity:0 ;
    }
} 